.lct-toast
  min-width: 150px
  max-width: 500px
  display: flex
  align-items: center
  padding: 10px
  margin: 10px 5px
  border: none
  border-radius: 2px
  color: #fff
  background-color: #f1f1f3
  font-size: 14px
  word-wrap: break-word
  word-break: break-word
