.lct-switcher
  display: inline-block
  width: 42px
  height: 18px
  position: relative
  margin: 10px 5px
  background-color: #eee
  border-radius: 100px
  padding: 0 3px
  cursor: pointer
  transition: all $easing .4s

  &.disabled
    opacity: .4
    cursor: default

  .switch-handle
    $size = 22px
    $margin = 0px
    width: $size
    height: @width
    position: absolute
    top: 50%
    left: $margin
    background-color: #ccc
    border-radius: 50%
    transition: all $easing .2s
    transform: translate(0, -50%)

    &.activated
      left: s("calc(100% - %s - %s)", $size, $margin)
      border: none

  .loading-indicator
    position: relative
    left: 2px
    top: 2px
