.lct-switcher
  display: inline-block
  width: 42px
  height: 20px
  position: relative
  margin: 10px 5px
  background-color: #ccc
  border-radius: 100px
  padding: 0 3px
  cursor: pointer
  transition: all $easing .4s

  &.disabled
    background-color: #eee
    cursor: default

  .switch-handler
    $size = 14px
    $margin = 3px
    width: $size
    height: @width
    position: absolute
    top: $margin
    left: $margin
    background-color: #fff
    border-radius: 50%
    transition: all $easing .2s

    &.activated
      left: s("calc(100% - %s - %s)", $size, $margin)
      border: none

  .loading-indicator
    position: relative
    top: -2px
    left: -1px
