.lct-card
  display: flex
  flex-direction: column
  background-color: #fff
  border-radius: 12px

  &.elevated
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1)

  &.with-margin
    margin: $inputMargin

  .card-title
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px
    padding-bottom: 15px
    font-size: 16px

  .card-content
    height: 100%
    flex-grow: 1
    padding: 30px
    padding-top: 0
    box-sizing: border-box
