.lct-card
  display: flex
  flex-direction: column
  background-color: #fff

  &.elevated
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05)

  &.with-margin
    margin: $inputMargin

  .card-title
    display: flex
    align-items: center
    justify-content: space-between
    padding: 24px 24px 18px 24px
    font-size: 16px
    color: $defaultFontColor
    border-bottom: 1px solid rgba(0, 0, 0, .05)

  .card-content
    height: 100%
    flex-grow: 1
    padding: 24px
    box-sizing: border-box
