.lct-table-container
  position relative

  .loading-indicator
    height: 4px

  .lct-table
    background-color: white
    width: 100%
    border: 0
    border-collapse: collapse
    border-spacing: 0
    position relative

    .lct-thead
      height: 56px
      background: #F5F6F8
      font-size: 14px
      color: #90929B

      .lct-th
        font-weight: 400
        padding 0 20px

    .lct-tbody
      .lct-td
        padding: 0 20px
        border-bottom: thin solid rgba(0, 0, 0, .12)
        height: 48px

      .lct-no-data
        text-align: center
        color: #90929B

    .dark
      opacity 0.3
