.lct-pagination
  display flex
  align-items center

  .pagination-btn
    width 38px
    height @width
    flow-shrink: 0
    border-radius: 50%

  .pagination-change
    padding 0
    margin 10px

  .pagination-input
    height 42px
    margin 10px

