#APP_ID
  color: #323232

  h1, h2, h3, h4, h5, h6
    margin: 0.8em 0
    line-height: 1.15
    font-weight: normal

  h1
    font-size: 57px

  h2
    font-size: 45px

  h3
    font-size: 36px

  h4
    font-size: 32px

  h5
    font-size: 28px

  h6
    font-size: 24px

  small
    font-size: .5em

  .THEME_SCHEME-background
    background-color: BACKGROUND_COLOR

  .THEME_SCHEME-text
    color: TEXT_COLOR

  .THEME_SCHEME-border
    border-color: TEXT_COLOR

  .THEME_SCHEME-fill
    fill: TEXT_COLOR

    svg
      g
        fill: TEXT_COLOR
