#APP_ID
  .THEME_SCHEME-background
    background-color: COLOR_VALUE

  .THEME_SCHEME-text
    color: COLOR_VALUE

  .THEME_SCHEME-border
    border-color: COLOR_VALUE

  .THEME_SCHEME-fill
    fill: COLOR_VALUE

    svg
      g
        fill: COLOR_VALUE
