#APP_ID
  .THEME_SCHEME-background
    background-color: BACKGROUND_COLOR

  .THEME_SCHEME-text
    color: TEXT_COLOR

  .THEME_SCHEME-border
    border-color: TEXT_COLOR

  .THEME_SCHEME-fill
    fill: TEXT_COLOR

    svg
      g
        fill: TEXT_COLOR
