.lct-button
  padding: 15px 25px
  margin: 10px 5px
  font-size: 14px
  background-color: #dadada
  border-radius: 1000px
  cursor: pointer
  transition: all $easing .2s
  border: none

  &.elevated
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)

  &.circle
    min-width: 0
    min-height: 0
    padding: 0
    border-radius: 50%

  &:active
    transition: none !important

  &:not(.text)
    color: #fff

  &.text
    background-color: transparent
    color: $defaultFontColor

  &[disabled]
    opacity: .4
    cursor: default

  &.outlined
    background-color: transparent
    color: $defaultFontColor
    border: 1px solid @color

  .content-container
    display: inline-flex
    align-items: center
    justify-content: center
    vertical-align: middle
