.APP_ID
  .lct-button
    &:not([disabled])
      &.color-COLOR_SCHEME
        &.outlined
          &:hover
            border-color: HOVER_TEXT_COLOR

          &:active
            border-color: ACTIVE_TEXT_COLOR

        &:not(.outlined)
          &:hover
            background-color: HOVER_BACKGROUND_COLOR

          &:active
            //background-color: ACTIVE_COLOR
