.test-page
  padding: 40px 80px
  position: relative

  .background
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    opacity: .1
    transition: all $easing 1s

  .content-container
    position: relative
