.lct-chip
  display: inline-block
  height: 28px
  padding: 5px 8px
  background-color: #f5f6f8
  border-radius: 2px
  font-size: 14px
  box-sizing: border-box

  .content-container
    display: flex
    align-items: center
    max-width: 100px
    height: 100%

    .icon-text
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

  .close-btn
    padding: 0
    margin: 0
    margin-left: 8px
    border: none
    cursor: pointer
