.lct-input
  display: flex
  margin: $inputMargin
  align-items: center

  .input-aside
    display: flex
    align-items: center
    position: relative

    .required-mark
      position: absolute
      left: -10px

    .input-icon
      margin-right: 10px

    .input-label
      position: relative
      font-size: 14px
      margin-right: 15px

  .input-body
    position: relative

    .input-message
      margin-top: 4px
      position: absolute
      font-size: 14px
      color: #90929b
      white-space: nowrap
