// Color scheme.
// ==========================
$defaultFontColor = #1c1d1f

// Box-sizing.
// ==========================
$inputMargin = 0 0 45px 0

// Transition.
// ==========================
$easing = cubic-bezier(.22, .58, .12, .98)
