.lct-group-list
  .lct-group-list-activator
    width: 100%
    margin: 0

    .content
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between

  .lct-group-list-drop-icon
    transition: all $easing .4s

    &.open
      transform: rotate(180deg)

  .lct-group-list-list
    padding-left: 30px
    overflow: hidden
    transition: all $easing .4s

    .lct-group-list-list-container
      box-sizing: border-box
