.lct-date-range
  .month-select-panel
    white-space: nowrap

    .control-section
      display: flex
      align-items: center
      justify-content: center
      position: relative

      .lct-select
        margin: 0 10px

        .lct-select-widget
          border: none
